<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Greeting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form>
        <input type="text" name="message" />
        <input type="submit" />
    </form>
    <p>{{message}}</p>
</body>
</html>